body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header section */

.header {
  background-color: gray;
  height: 7em;
  text-align: center;
  width: 100vw;
}
.heading {
  color: white;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 35px;
}

/* People panel */

.peoplePanel {
  background-color: whitesmoke;
  min-height: 20px;
  padding: 20px;
}

.people-panel-heading {
  font-size: 20px;
  display: inline;
}

.people-panel-clear-button {
  margin-left: 10px;
  background-color: white;
}
.people-panel-table {
  margin-top: 20px;
  background-color: white;
  width: 28em;
  border-collapse: collapse;
}
.people-panel-table-row {
  border: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
}
.people-panel-add-person {
  color: gray;
}
.people-panel-input-field,
.people-panel-add-button {
  padding: 8px;
}
.people-panel-add-button {
  font-weight: bold;
}

/* Results panel */

.resultsPanel {
  min-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.results-panel-summary {
  line-height: 22px;
  color: gray;
  font-size: 17px;
}
.results-panel-transactions-heading {
  color: gray;
}
.results-panel-transactions {
  color: green;
}

/* Products panel */
.productsPanel {
  background-color: whitesmoke;
  min-height: 20px;
  padding: 20px;
}

.products-panel-heading {
  margin-top: 0px;
  font-size: 20px;
}
.products-panel-table-row-amount {
  border: 1px solid gray;
  background-color: gray;
  color: white;
  padding: 1px 5px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
}
.products-panel-item-buyer {
  font-size: 15px;
  margin-left: 35px;
}

/* For screen size less than 375 px */

@media screen and (max-width: 375px) {
  /* Header section */

  .header {
    margin-top: 0;
    background-color: gray;
    height: 7em;
    width: 100vw;
    text-align: center;
  }
  .heading {
    color: white;
    font-weight: normal;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-top: 35px;
  }

  /* People panel */

  .peoplePanel {
    background-color: whitesmoke;
    min-height: 20px;
    width: 35em;
  }

  .people-panel-heading {
    font-size: 20px;
    display: inline;
  }

  .people-panel-clear-button {
    margin-left: 10px;
    background-color: white;
  }
  .people-panel-table {
    margin-top: 20px;
    background-color: white;
    width: 34em;
    border-collapse: collapse;
  }
  .people-panel-table-row {
    border: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-right: 10px;
  }
  .people-panel-add-person {
    color: gray;
  }
  .people-panel-input-field,
  .people-panel-add-button {
    padding: 8px;
  }
  .people-panel-add-button {
    font-weight: bold;
  }

  /* Results panel */

  .resultsPanel {
    min-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .results-panel-summary {
    line-height: 22px;
    color: gray;
    font-size: 17px;
  }
  .results-panel-transactions-heading {
    color: gray;
  }
  .results-panel-transactions {
    color: green;
  }

  /* Products panel */
  .productsPanel {
    background-color: whitesmoke;
    min-height: 20px;
    padding: 20px;
    width: 35em;
  }

  .products-panel-heading {
    margin-top: 0px;
    font-size: 20px;
  }
  .products-panel-table-row-amount {
    border: 1px solid gray;
    background-color: gray;
    color: white;
    padding: 1px 5px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
  }
  .products-panel-item-buyer {
    font-size: 15px;
    margin-left: 35px;
  }
}

/* For screen size more than 751 px */

@media screen and (min-width: 751px) {
  /* Header section */

  .header {
    margin-top: 0;
    background-color: gray;
    height: 7em;
    width: 100vw;
    text-align: center;
  }
  .heading {
    color: white;
    font-weight: normal;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-top: 35px;
  }

  /* People panel */

  .peoplePanel {
    background-color: whitesmoke;
    min-height: 20px;
    width: 25%;
    float: left;
  }

  .people-panel-heading {
    font-size: 20px;
    display: inline;
  }

  .people-panel-clear-button {
    margin-left: 10px;
    background-color: white;
  }
  .people-panel-table {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
  }
  .people-panel-table-row {
    border: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-right: 10px;
  }
  .people-panel-add-person {
    color: gray;
  }
  .people-panel-edit-delete {
    margin-top: 20px;
  }
  .people-panel-edit-delete-para {
    display: inline-block;
  }
  .people-panel-edit-button {
    margin-left: 10px;
  }

  .people-panel-input-field,
  .people-panel-add-button {
    padding: 8px;
  }
  .people-panel-add-button {
    font-weight: bold;
  }
  .delete-people-details {
    border: 1px solid black;
    padding: 3px;
    position: absolute;
    right: 10px;
    color: gray;
    border-radius: 20px;
  }

  /* Results panel */

  .resultsPanel {
    min-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
  }
  .results-panel-summary {
    line-height: 22px;
    color: gray;
    font-size: 17px;
  }
  .results-panel-transactions-heading {
    color: black;
    font-weight: bolder;
  }
  .results-panel-transactions {
    color: red;
  }

  /* Products panel */
  .productsPanel {
    background-color: whitesmoke;
    min-height: 20px;
    padding: 20px;
    width: 25%;
    float: right;
  }

  .products-panel-heading {
    margin-top: 0px;
    font-size: 20px;
  }
  .products-panel-table-row-amount {
    border: 1px solid gray;
    background-color: gray;
    color: white;
    padding: 1px 5px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
  }
  .products-panel-item-buyer {
    font-size: 14px;
    margin-left: 35px;
  }
  .products-panel-add-products {
    color: gray;
  }

  .productName {
    padding: 6px;
  }
  .broughtBy {
    padding: 6px;
    display: block;
  }
  .amountOfTheProduct {
    padding: 6px;
    width: 9.3em;
  }
  .priceButton {
    padding: 6px;
  }
  .addProductButton {
    display: block;
    padding: 6px;
    margin-top: 20px;
    margin-left: 35px;
  }
  .warning {
    color: red;
    font-weight: bolder;
    font-size: larger;
  }
  .no-warning {
    color: green;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
  }
}
